<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>menu page</title>
    </head>
    <body>
    <div width=100%>
        <%= image_tag("logo_header_01.gif") %>
        <hr width=100%>
    </div>
<%= form_tag :action => :sendpage, :method => :get do %>
    <div align=center>
        <p>
            <%= submit_tag 'input', :name =>'send_input', :value => "アンケート入力" %>
        </p>
        <p>
            <%= submit_tag 'total', :name =>'send_total', :value => "アンケート集計" %>
        </p>
        <p>
            <%= submit_tag 'create_list', :name =>'send_create_list', :value => "アンケート編集" %>
        </p>
        <p>
            <%= submit_tag 'logout', :name =>'send_logout', :value => "logout" %>
        </p>
    </div>
<% end %>
    </body>
</html>
