<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>new_conf page</title>
    </head>
    <body>
    	<table width=100%>
    		<tr>
    			<td>
                    <%= image_tag("logo_header_01.gif") %>
					<hr width=100%>
    			</td>
    		</tr>
    	</table>
    	<table align=center>
    		<tr>
    			<td>
		    		アンケート名：　hogeアンケート
				</td>
			</tr>
			<tr>
				<td><br />
					備考：　hoge
				</td>
			</tr>
			<tr>
				<td><br />
					回答期間：
				</td>
			</tr>
			<tr>
				<td>
					2012/01/01　～　2102/02/01
				</td>
			</tr>
			<tr>
				<td><br />
					設問１：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問２：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　チェックボックス
				</td>
			</tr>
			<tr>
				<td>
					選択肢１：hoge1
				</td>
			</tr>
			<tr>
				<td>
					選択肢２：hoge2
				</td>
			</tr>
			<tr>
				<td>
					選択肢３：hoge3
				</td>
			</tr>
			<tr>
				<td>
					選択肢４：hoge4
				</td>
			</tr>
			<tr>
				<td>
					選択肢５：hoge5
				</td>
			</tr>
			<tr>
				<td>
					選択肢６：hoge6
				</td>
			</tr>
			<tr>
				<td>
					選択肢７：hoge7
				</td>
			</tr>
			<tr>
				<td>
					選択肢８：hoge8
				</td>
			</tr>
			<tr>
				<td>
					選択肢９：hoge9
				</td>
			</tr>
			<tr>
				<td>
					選択肢１０：hoge10
				</td>
			</tr>
			<tr>
				<td><br />
					設問３：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　ラジオボタン
				</td>
			</tr>
			<tr>
				<td>
					選択肢１：hoge1
				</td>
			</tr>
			<tr>
				<td>
					選択肢２：hoge2
				</td>
			</tr>
			<tr>
				<td>
					選択肢３：hoge3
				</td>
			</tr>
			<tr>
				<td>
					選択肢４：hoge4
				</td>
			</tr>
			<tr>
				<td>
					選択肢５：hoge5
				</td>
			</tr>
			<tr>
				<td>
					選択肢６：hoge6
				</td>
			</tr>
			<tr>
				<td>
					選択肢７：hoge7
				</td>
			</tr>
			<tr>
				<td>
					選択肢８：hoge8
				</td>
			</tr>
			<tr>
				<td>
					選択肢９：hoge9
				</td>
			</tr>
			<tr>
				<td>
					選択肢１０：hoge10
				</td>
			</tr>
			<tr>
				<td><br />
					設問４：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問５：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問６：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問７：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問８：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問９：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
				<td><br />
					設問１０：	hogehoge
				</td>
			</tr>
			<tr>
				<td>
					回答形式：　テキスト入力
				</td>
			</tr>
			<tr>
    			<td>
<%= form_tag( :action => :commit, :method => :get) do %>
    <%= submit_tag "確認" %>
<% end %>
<%= form_tag( :controller => :new, :method => :get) do %>
    <%= submit_tag "back" %>
<% end %>
				</td>
			</tr>
    	</table>
    </body>
</html>